.h-popup {
  padding: 10px;
  background: $white;
  z-index: $zindex-popover;
  @include reset-text();
  @include font-size($popover-font-size);
  word-wrap: break-word;
  background-color: $popover-bg;
  background-clip: padding-box;
  @include border-radius($popover-border-radius);
  @include box-shadow($popover-box-shadow);
  border: $popover-border-width solid $popover-border-color;

  &.closed {
    display: none;
  }
}
