.h-syntax { background-color: #ffffcc }
.h-syntax .hll { background-color: #ffffcc }
.h-syntax  { background: #f8f8f8; }
.h-syntax .c { color: #6a737d } /* Comment */
.h-syntax .err {  } /* Error */
.h-syntax .k { color: #d73a49 } /* Keyword */
.h-syntax .o { } /* Operator */
.h-syntax .ch { color: #6a737d } /* Comment.Hashbang */
.h-syntax .cm { color: #6a737d } /* Comment.Multiline */
.h-syntax .cp { color: #d73a49 } /* Comment.Preproc */
.h-syntax .cpf { color: #032f62 } /* Comment.PreprocFile */
.h-syntax .c1 { color: #6a737d } /* Comment.Single */
.h-syntax .cs { color: #6a737d } /* Comment.Special */
.h-syntax .gd { color: #b31d28; background-color: #ffeef0 } /* Generic.Deleted */
.h-syntax .ge {  } /* Generic.Emph */
.h-syntax .gr {  } /* Generic.Error */
.h-syntax .gh { color: #005cc5 } /* Generic.Heading */
.h-syntax .gi { color: #22863a; background-color: #f0fff4 } /* Generic.Inserted */
.h-syntax .go {  } /* Generic.Output */
.h-syntax .gp {  } /* Generic.Prompt */
.h-syntax .gs { font-weight: bold } /* Generic.Strong */
.h-syntax .gu { color: #6f42c1; font-weight: bold } /* Generic.Subheading */
.h-syntax .gt { color: #0044DD } /* Generic.Traceback */
.h-syntax .kc { color: #005cc5 } /* Keyword.Constant */
.h-syntax .kd { color: #d73a49 } /* Keyword.Declaration */
.h-syntax .kn { color: #d73a49 } /* Keyword.Namespace */
.h-syntax .kp { color: #d73a49 } /* Keyword.Pseudo */
.h-syntax .kr { color: #d73a49 } /* Keyword.Reserved */
.h-syntax .kt { color: #d73a49 } /* Keyword.Type */
.h-syntax .m { color: #666666 } /* Literal.Number */
.h-syntax .s { color: #032f62 } /* Literal.String */
.h-syntax .na { } /* Name.Attribute */
.h-syntax .nb { color: #005cc5 } /* Name.Builtin */
.h-syntax .nc { color: #6f42c1 } /* Name.Class */
.h-syntax .no { color: #005cc5 } /* Name.Constant */
.h-syntax .nd { color: #6f42c1 } /* Name.Decorator */