.h-table {
  thead, tfoot {
    text-transform: uppercase;
    color: $table-color;
    letter-spacing: 0.05em;
    font-size: $font-size-base * 0.85;
    position: relative;
  }

  a {
    color: $body-color;
    text-decoration: none;
    font-weight: $headings-font-weight;

    &:hover {
      text-decoration: underline;
    }
  }
  .table-drag-sort-handle {
    cursor: move;
  }
}

.h-table-actions {
  position: absolute;
  top: 0;
  right: 0;
  width: calc(100% - 54px);
  background: $table-striped-bg;
  padding: 0.3rem 0.3rem 0.26rem 0.3rem !important;

  .form-select {
    width: 300px;
    max-width: 100%;
  }
}

.h-table-cell-image {
  padding: 0.4rem 1rem !important;

  img {
    border-radius: 3px;
  }
}

.h-table-cell-color {
  width: 22px;
  height: 22px;
  border-radius: 3px;
  background-color: var(--cell-color);
}