/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
/node_modules/

# Ignore dummy app
/test/dummy/log/*
/test/dummy/tmp/*
/test/dummy/db/*.sqlite3
/test/dummy/db/*.sqlite3-*
!/test/dummy/log/.keep
!/test/dummy/tmp/.keep
/test/dummy/tmp/pids/*
!/test/dummy/tmp/pids/
!/test/dummy/tmp/pids/.keep
/test/dummy/storage/*
!/test/dummy/storage/.keep
/test/dummy/public/assets

# Ingore editors
/.idea
/headmin.iml

# for a library or gem, you might want to ignore these files since the code is
# intended to run in multiple environments; otherwise, check them in:
Gemfile.lock
# .ruby-version
# .ruby-gemset
