.rx-container {
  padding: 0 !important;
  border: $input-border-width solid $input-border-color;
  @include border-radius($input-border-radius, 0);

  &.rx-in-focus {
    color: $input-focus-color;
    background-color: $input-focus-bg;
    border-color: $input-focus-border-color;
    outline: 0;
    @if $enable-shadows {
      @include box-shadow($input-box-shadow, $input-focus-box-shadow);
    } @else {
      // Avoid using mixin so we can pass custom focus shadow properly
      box-shadow: $input-focus-box-shadow;
    }

    &.is-valid {
      border-color: $success;
      box-shadow: 0 0 $input-btn-focus-blur $input-focus-width rgba($success, $input-btn-focus-color-opacity);
    }

    &.is-invalid {
      border-color: $danger;
      box-shadow: 0 0 $input-btn-focus-blur $input-focus-width rgba($danger, $input-btn-focus-color-opacity);
    }
  }

  &.is-valid, &.is-invalid {
    background-position: top $input-height-inner-quarter right $input-height-inner-quarter;
  }
}

.rx-toolbar-container.is-rx-toolbar {
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  border-bottom: 1px solid $input-border-color;
}

.rx-content {
  padding: $input-padding-y $input-padding-x !important;
  position: relative;

  p, ul li, ol li, td {
    @include font-size($input-font-size);
    line-height: $input-line-height;
    color: $input-color;
  }
}

.rx-placeholder {
  &:before {
    @include font-size($input-font-size);
    color: $input-placeholder-color;
    opacity: 1;
  }
}

.rx-control {
  margin-left: -$input-padding-x;
}

.rx-toolbar {
  .rx-button-icon {
    background: $input-bg;

    span {
      color: $nav-link-disabled-color;
    }

    &:hover span {
      color: $input-color;
    }
  }
}