.btn-link {
  text-decoration: none;
}

.h-btn-light {
  color: $form-text-color;
  background-color: $gray-200;
}

.h-btn-outline-light {
  background-color: $white;
  color: $form-text-color;
  border-color: $input-border-color;
}

.h-btn-outline-transparent {
  color: $form-text-color;
  border: 1px solid $input-border-color;
}
