.nested-preview-offcanvas, .nested-preview .hiding{
  display: none !important;

  &.show, &.showing {
    display: flex !important;
  }
}

.nested-preview-placeholder{
  iframe {
    width: 100%;
  }
}